.app{
  width: 50%;
  margin-left: 280px;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px #2e9e02, 0 0 30px #03ac1f;
}
.app-title::before {
  content: "📝";
  font-size: 20px;
}
button{
  color: rgb(246, 248, 246);
  background-color: green;
}
.d{
  background-color: transparent;
  /* background-color: non; */
  color: aliceblue;
  font-size: large;
  content: "📝";
  width: 8%;
  /* height: 20px; */
  border: none;
}
.e{
  background-color: transparent;
  border: none;
}
.p{
font-weight: bolder;
font-style: italic;
font-size: larger;

}
.d{
  font-weight: lighter;
  font-style: oblique;

  
}
p{
  margin: 5px;
}
input{
  width: 300px;
  height: 25px;
  border-radius: 5px;

}
input:hover{
  border-color: greenyellow;
}
.todo{
  width: 80px;
  height: 45px;
  border-radius: 4px;
  font-size: medium;
}
.style{
  /* border: 2px solid black; */
  box-shadow: 0 0 20px #061201, 0 0 30px #051107;

}